@import nib
global-reset()

#qrcode-icon-ext
	position absolute
	width 300px !important
	height 300px !important

	img 
		width 100%
		height 100%
	z-index 100000

	outline none
	border-color #9ecaed
	box-shadow 0 0 10px #9ecaed
