!!!
html
	head
		title My Test Extension Options
	body
	|	Server address:
	input#server-address(type="text", placeholder="server address")
	br
	|   Port:
	input#server-port(type="text", placeholder="port")
	div#status
	button#save Save 
	script(src="js/jquery.js")
	script(src="js/options.js")
